nav {
background: #F9F9F9;
width: 400px;
position: fixed;
top: 60px;
left: 10px;
padding: 10px;
box-sizing: border-box;
overflow-x: hidden;
overflow-y: scroll;
height: 100vh;
display: block;
opacity: .1;
transition: all.5s ease;
height: 100%;
}

nav:hover {
  opacity: 1;
  transition: all.1s ease;
}
nav h4 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px!important;
}
nav a {
  text-decoration: none;
  font-size: 16px!important;
}

 nav ul {
   list-style-type: none;
   width: 90%;

 }
 nav li {
   margin: 0px;
   line-height: 30px;
   width: 90%;
 }
